@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
}

.card {
    background-image: linear-gradient(60deg, hsl(214, 52%, 16%), hsl(213, 49%, 16%));
    width: 20rem;
    min-height: 32.1rem;
}